body {
  font-family: 'Ovo', Georgia, serif;
  line-height: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', Helvetica, sans-serif;
  margin: 40px 0px -10px 0px;
}

h2 {
  background-color: black;
  border-bottom: 2px solid #d00;
  color: white;
  margin: 60px 0 0 -20px;
  padding: 10px 20px 3px;
}

a {
  border-bottom: 1px solid #d00;
  color: black;
  padding-bottom: 1px;
  text-decoration: none;
}

a:visited {
  border-bottom: 1px solid #ccc;
}

a:hover {
  border-bottom: 1px dashed #ccc;
  color: #777;
}

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

#content ul {
  list-style-type: none;
  padding-left: 0px;
}

#content ul li {
  text-indent: -1.4em;
}

#content ul li:before {
  content: '\bb';
  float: left;
  width: 1.4em;
}

code {
  background-color: #e4e4e4;
  padding: 0.25em;
}

pre {
  background-color: #e4e4e4;
  padding: 1em 2em;
}

div#container {
  padding: 35px 70px;
  width: 600px;
}

div.hero {
  background-color: black;
  border-bottom: 2px solid #d00;
  color: white;
  font-family: 'Josefin Sans', Helvetica, sans-serif;
  font-size: 100px;
  height: 60px;
  margin-bottom: 20px;
  margin-left: -20px;
  padding-left: 10px;
  padding-top: 100px;
}

@media screen and (max-width: 650px) {
  body {
    margin: 0;
  }

  div#container {
    border: 0px;
    padding: 0px 20px 10px 20px;
    word-wrap: break-word;
    width: auto;
  }

  div.hero {
    font-size: 60px;
    height: 40px;
    margin: 0px -20px;
    padding: 50px 20px 0px 20px;
    text-align: center;
  }

  ul li {
    text-indent: 0em;
  }

  ul li:before {
    width: 1em;
  }
}

.hll { background-color: #ffffcc }
.c { color: #408080; font-style: italic }
.err { border: 1px solid #FF0000 }
.k { color: #008000; font-weight: bold }
.o { color: #666666 }
.cm { color: #408080; font-style: italic }
.cp { color: #BC7A00 }
.c1 { color: #408080; font-style: italic }
.cs { color: #408080; font-style: italic }
.gd { color: #A00000 }
.ge { font-style: italic }
.gr { color: #FF0000 }
.gh { color: #000080; font-weight: bold }
.gi { color: #00A000 }
.go { color: #888888 }
.gp { color: #000080; font-weight: bold }
.gs { font-weight: bold }
.gu { color: #800080; font-weight: bold }
.gt { color: #0044DD }
.kc { color: #008000; font-weight: bold }
.kd { color: #008000; font-weight: bold }
.kn { color: #008000; font-weight: bold }
.kp { color: #008000 }
.kr { color: #008000; font-weight: bold }
.kt { color: #B00040 }
.m { color: #666666 }
.s { color: #BA2121 }
.na { color: #7D9029 }
.nb { color: #008000 }
.nc { color: #0000FF; font-weight: bold }
.no { color: #880000 }
.nd { color: #AA22FF }
.ni { color: #999999; font-weight: bold }
.ne { color: #D2413A; font-weight: bold }
.nf { color: #0000FF }
.nl { color: #A0A000 }
.nn { color: #0000FF; font-weight: bold }
.nt { color: #008000; font-weight: bold }
.nv { color: #19177C }
.ow { color: #AA22FF; font-weight: bold }
.w { color: #bbbbbb }
.mf { color: #666666 }
.mh { color: #666666 }
.mi { color: #666666 }
.mo { color: #666666 }
.sb { color: #BA2121 }
.sc { color: #BA2121 }
.sd { color: #BA2121; font-style: italic }
.s2 { color: #BA2121 }
.se { color: #BB6622; font-weight: bold }
.sh { color: #BA2121 }
.si { color: #BB6688; font-weight: bold }
.sx { color: #008000 }
.sr { color: #BB6688 }
.s1 { color: #BA2121 }
.ss { color: #19177C }
.bp { color: #008000 }
.vc { color: #19177C }
.vg { color: #19177C }
.vi { color: #19177C }
.il { color: #666666 }
